body {
    box-sizing: border-box;
    background: url("pexels-nuno-obey-127160 1.jpg") center/cover no-repeat;
    height: 100%;
    width: 100vh;
    min-width: 80rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.general {
    padding: 0.625rem 3.125rem;
}

.main-header__brand {
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main-header__text {
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 2px;
    font-weight: bold;
}

.main-header__brand:hover .first {
    color: #FF6B00;
}

.main-section {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.main-link {
    position: relative;
}

.picture-link {
    text-decoration: none;
}

.picture img {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top,#FFFFFF, #FF6B00);
    margin: 0;
}

.overlay {
    position: absolute;
    bottom: 6.2rem;
    left: 2px;
    right: 0;
    height: 3.75rem;
    width: 21.125rem;
    opacity: 0;
    transition: .3s ease;
    background: #FF6B00D4;
    vertical-align: bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.picture-link:hover ~ .overlay {
    opacity: 83%;
}

.overlay:hover {
    opacity: 83%;
}
.link-text:hover .main-section__text,
.link-text:active .main-section__text {
    transform: scale(1.3);
}

.overlay-price {
    color: white;
    padding-left: 5px;
    font-weight: bold;
    margin: 0;
}

.overlay-text {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 0.75rem;
}

.link-text {
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.main-section__text {
    width: fit-content;
    margin: 2rem 0;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    transition: 0.3s ease-in-out;
}

.low-section {
    margin-top: 3rem;
}

.lower-links {
    margin-right: 2rem;
    text-decoration: none;
}

.lower-link {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px #000000;
}






